# Keep only project sources and build inputs in Git.
*

!/.dockerignore
!/.gitignore
!/.github/
!/.github/workflows/
!/.github/workflows/main.yml
!/Cargo.toml
!/Cargo.lock
!/Dockerfile
!/LICENSE
!/Makefile
!/README.md
!/VERSION
!/config.json
!/docker-compose.yml
!/rust-toolchain.toml

!/src/
!/src/**/
!/src/*.rs
!/src/**/*.rs

!/helm/
!/helm/namespace-logging.json
!/helm/logfowd2/
!/helm/logfowd2/**
